$one-color: #fd00ff;
$two-color: #6b2865;
$three-color: #9c38ad;
$four-color: #269abc;
$five-color: #555;
$six-color: #428bca;
$seven-color: #4b4f56;
$eight-color: #f5f6f7;
$nine-color: #3a5897;
$ten-color: #ebedf0;
$eleven-color: #404760;
$twelve-color: #ffd203;
$thirteen-color: #47c9a2;
$fourteen-color: #434e65;
$fifteen-color: #bfbfbf;
$sixteen-color: #0084ff;
$seventeen-color: #312731;
$eighteen-color: #e2e2e2;
$nineteen-color: #ccc;
$twenty-color: #bfbfbf;
$twenty-one-color: #e4e4e4;
$twenty-two-color: #2daaed;
$twenty-three-color: rgba(0, 0, 0, 0.8);
$twenty-four-color: #5c00ce;
$twenty-five-color: rgba(255, 255, 255, 0.2);
